@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p style="text-align:center; font-size:16px">
        CarCompany drives us to create intelligent products that enhance mobility and increase the joy in people’s lives.
        <br /><br />
        We continue to draw inspiration from the visionary ideas of our namesake, Soichiro Honda. He saw incredible power in the freedom of mobility and used his imagination to change the world. It is this mindset that guides us to help move people forward and protect the future we all share.
        <br /><br />
        We strive to earn the trust and support of the many diverse communities we happily serve, and we’ll always remember who’s in the driver’s seat on the way to a better world for all.
    </p>
</article>

<aside>
    <h3>CarCompany</h3>
    <p>
        You can find more information and products here:
    </p>

    @(Html.Kendo().TreeView()
        .Name("LinksTreeView")
        .Items(items =>
        {
            items.Add()
                .Text("Home")
                .Action("Index", "Home");
            items.Add()
                .Text("About")
                .Action("About", "Home");
            items.Add()
                .Text("Contact")
                .Action("Contact", "Home");
        })
    )

</aside>
