@model IEnumerable<CarCompany.Entites.Car>

@{
    ViewBag.Title = "Cars";
}

<h2>Cars</h2>

<div class="container-fluid placeholders">
    <div class="row">
        <div class="col-xs-10 col-md-3">
            <h2>&nbsp;</h2>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                galley of type and scrambled it to make a type specimen book.
            </p>

            <p>
                @(Html.Kendo()
                .Button()
                .Name("Button")
                .Content("Button")
                .HtmlAttributes(new { @class = "textButton" }))
            </p>

        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-18 col-md-12">
            @(Html.Kendo().Grid<CarCompany.Entites.Car>()
        .Name("grid")
        .Columns(columns =>
        {
            columns.Bound(p => p.Brand);
            columns.Bound(p => p.Year);
            columns.Bound(p => p.Mileage);
            columns.Bound(p => p.Price);
        })
        .Pageable()
        .Sortable()
        .Scrollable()
        .Filterable()
        .HtmlAttributes(new { style = "height:550px;" })
        .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(20)
        .Read(read => read.Action("ReadCars", "Home"))
        )
            )
        </div>
    </div>
</div>
